<!-- Declare Tailwind classes that are used programatically so they don't get purged by purgecss -->
<div class="z-0 z-5 z-10 z-15 z-20 z-25 z-30 z-35 z-40 z-45 z-50"></div>
<div class="focus-ring group-focus-ring"></div>
<div class="bg-newsprint after:bg-newsprint bg-note after:bg-note bg-marker after:bg-marker bg-marker-120 after:bg-marker-120"></div>
<div class="bg-highlighter after:bg-highlighter bg-marker after:bg-marker"></div>
