/* purgecss start ignore */

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}
.invalid-feedback {
  display: block;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}
.phx-loading * {
  pointer-events: none;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-weight: 600;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #ffffff;
  background-color: #d92f24;
  border-color: #d92f24;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

/* purgecss end ignore */
